@model CARRITO_D.Models.StockItem

@{
    ViewData["Title"] = "Crear";
}

<h1>Crear</h1>

<h4>StockItem</h4>
<hr />
<div>
    <partial name="_SumarProducto" for="@Model" />
</div>

<div>
    <a class="links-modif" asp-action="Index">Volver</a>
</div>
