.navbar-brand{
    background:url('../img/Klouth-2 (1).jpg') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
    margin: 0px;
}

/*
    .navbar-carrito {
    background: url('../img/shopping cart.png') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
}
*/

