.navbar-brand{
    background:url('../img/Klouth-2 (1).jpg') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
    margin: 0px;
}


.navbar-carrito {
    background: url('../img/Carrito3.jpg') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
    margin: 0px;
}

.navbar-usuario {
    background: url('../img/Icono Usuario.jpg') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
    margin: 0px;
}

.navbar-logout {
    background: url('../img/Icono Logout.jpg') no-repeat;
    background-size: 38px 38px;
    height: 40px;
    width: 45px;
    margin: 0px;
}

a.links:where(:hover){
    color:black;
}

a.links-modif {
    text-decoration: none;
    font-size: inherit;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}

.titles {
    text-align:center;
    font-family:'Nunito', sans-serif;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
    opacity:0.8;
}

hr:after {
    background: #ffffff;
    content: 'KL';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

td.links {
    text-align: right;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

