.navbar-brand{
    background:url('../img/Klouth-2 (1).jpg') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
    margin: 0px;
}


.navbar-carrito {
    background: url('../img/Carrito3.jpg') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
    margin: 0px;
}

.navbar-usuario {
    background: url('../img/Icono Usuario.jpg') no-repeat;
    background-size: 40px 40px;
    height: 40px;
    width: 45px;
    margin: 0px;
}

.navbar-logout {
    background: url('../img/Icono Logout.jpg') no-repeat;
    background-size: 38px 38px;
    height: 40px;
    width: 45px;
    margin: 0px;
}


