@model IEnumerable<CARRITO_D.Models.CarritoItem>

@{
    ViewData["Title"] = "Item Carritos";
}

<h1>Item Carritos</h1>

<p>
    <a class="links-modif" asp-action="Create">Crear Nuevo</a>
</p>

<div>
    <partial name="_ListarCarritoItems" for="@Model" />
</div>