@model CARRITO_D.Models.Producto

@{
    ViewData["Title"] = "Detalles";
}

<div>
    <partial name="_DetallesProducto" for="@Model" />
</div>
<div>
    
    <a class="links-modif" style="cursor:pointer" onclick="history.back()">Volver</a>
</div>
