@model CARRITO_D.Models.Cliente

@{
    ViewData["Title"] = "Ingreso de datos";
    string fotoPath = MisMetodos.getUrl(Configs.FotoURL, Model.Foto, Configs.FotoDef);
}

<h1>Ingreso de Datos</h1>

<h4>Cliente</h4>
<hr />
<div class="row">
    <div class="col-sm">
        <figure class="figure">
            
            <img src="@fotoPath" width="400" height="400" class="figure-img img-fluid rounded" alt="Foto Cliente" asp-append-version="true">
            
            <figcaption class="figure-caption text-right">Foto Cliente @Model.UserName</figcaption>
        </figure>
    </div>
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="UserName" class="form-control" type="hidden" />
            <input asp-for="Email" class="form-control" type="hidden" />
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DNI" class="control-label"></label>
                <input asp-for="DNI" class="form-control" placeholder="Ingrese aquí DNI"/>
                <span asp-validation-for="DNI" class="text-danger"></span>
            </div>
                
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" placeholder="Ingrese aquí Nombre" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" placeholder="Ingrese aquí Apellido" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" placeholder="Ingrese aquí Direccion" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" placeholder="Ingrese aquí Telefono" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

            <div hidden>
                <input asp-for="Foto" class="form-control">
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
