@model CARRITO_D.Models.Cliente

@{
    ViewData["Title"] = "Editar";
}
<div>
    <partial name="EditarMiPerfil" for="@Model" />
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
