@model CARRITO_D.Models.Producto


<div>
    <partial name="_DetallesProducto" for="@Model" />
</div>
<div>

    <a class="links-modif" asp-action="Details" asp-route-id="@signInManager.UserManager.GetUserId(User)">Volver</a>
</div>