@model IEnumerable<CARRITO_D.Models.CarritoItem>

@{
    ViewData["Title"] = "Carrito";
}

@if(Model.Any()){
    <h1>Carrito</h1>

    <div>
        <partial name="_ListarCarritoItems" for="@Model" />
    </div>
    <div>
        <h4>Carrito</h4>
        <hr />
        <dl class="row">

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Subtotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.First().Carrito.Subtotal)
            </dd>

        </dl>
    </div>
}else{
    <h1>No hay elementos</h1>
}
